<div class="music">
<p class="asidetitle">Music</p>
<div class="music_player clearfix">
<script type="text/javascript" src="http://www.xiami.com/widget/player-single?uid=45521081&sid=381307&mode=js"></script>
</div>
</div>